@model ANCBE.Models.Post[]

@foreach (var post in Model)
{
    @Html.Partial("_Post", post);
}

<nav class="blog-pagination">

    @if (ViewBag.HasPreviousPage == true)
    {
        <a class="btn btn-outline-primary" href="@Url.Action("Index", new { page = ViewBag.PreviousPage })">Newer</a>
    }
    else
    {
        <a class="btn btn-outline-secondary disabled" href="/">Newer</a>
    }

    @if (ViewBag.HasNextPage == true)
    {
        <a class="btn btn-outline-primary" href="@Url.Action("Index", new { page = ViewBag.NextPage })">Older</a>
    }
    else
    {
        <a class="btn btn-outline-secondary disabled" href="/">Older</a>
    }

</nav>