@{ 
    Layout = "_Layout";
}

          <div class="blog-post">
            <h2 class="blog-post-title">@ViewBag.Title</h2>
            <p class="blog-post-meta">@ViewBag.Posted by <a href="/">@ViewBag.Auhor</a></p>
              @ViewBag.Body
          </div><!-- /.blog-post -->   