<!DOCTYPE html>
<!-- saved from url=(0048)https://v4-alpha.getbootstrap.com/examples/blog/ -->
<html lang="en">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/third-party/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/">New features</a>
          <a class="nav-link" href="/">Press</a>
          <a class="nav-link" href="/">New hires</a>
          <a class="nav-link" href="/">About</a>
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          @RenderBody()

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
              @await (Component.InvokeAsync<ANCBE.ViewComponents.ArchivedPostsViewComponent>())  
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="/">GitHub</a></li>
              <li><a href="/">Twitter</a></li>
              <li><a href="/">Facebook</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
              @if (User.Identity.IsAuthenticated)
              {
                  using (Html.BeginForm("Logout", "Account"))
                  {
                      <p>Logged in as: @User.Identity.Name</p>
                          <button class="btn-link" type="submit">Logout</button>
                  }
              }
              else
              {
                  <p>Not logged in</p>
                      <p>@Html.ActionLink("Login", "Login", "Account")</p>
              }
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">mdo</a>.</p>
      <p>
        <a href="/">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/third-party/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="~/js/third-party/tether.min.js"></script>
    <script src="~/js/third-party/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/comments.js"></script>

</body></html>